@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);


.login-block button#boton{
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 4px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

button#boton:hover{

    background:#FF0000;

}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

body {
    background: url('http://www.travelplanet.in/wp-content/uploads/2016/07/travel.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Roboto;
}

#a { 

    display: block;
    margin: 0 auto;
}

.login-block div#a{

 text-align: center;
 font-family: Arial;

}